@font-face {
    font-family: 'ModernAesthetic';
    src: url('../public/fonts/modernaestheticdemoversionregular-2oaed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  